md-sidenav.md-sidenav-left(flex, md-component-id="left", md-is-locked-open="$mdMedia('gt-md')", md-disable-backdrop="true", md-whiteframe="4")
    md-content
        md-subheader Departments
        department-button(ng-repeat="dept in mainSidebarVm.departments", dept="dept", layout="row", is-active="dept.id == currentDept")
