div(layout="column")
    a(ng-attr-href="/products/{{ product.id }}")
        img(ng-attr-src="{{ :: imageUrl }}")
        h4(ng-bind=":: product.name")
        p(ng-bind=":: product.description")
        div(ng-bind=":: product.price | currency")
        div(ng-if=":: !product.amount") Out of stock!