//-
    Created by ofirb & ewino on 25/7/2016.

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Autocomplete Test</title>
        link(rel="stylesheet", type="text/css", href="/static/app/app.css")
    body(ng-app="example.autocomplete")
        div.container(id="app" ng-controller="AutoCompleteCtrl as ctrl")
            h1
                | 50 Shades of&nbsp;
                span.color-name(ng-style="{color: (ctrl.colorHex | lowercase)}", ng-bind="ctrl.colorName")
            .input-wrapper(auto-complete-search-box, on-select="ctrl.changeColor(item.name, item.hex)",
                           query-url="/color/{}", max-amount="5")
                div(auto-complete-search-input)
                .dropdown(auto-complete-dropdown)
                    .sample(ng-style="{backgroundColor: item.hex}")
                    span.color-name(ng-bind="item.name")

        script(src="/static/external/jquery-2.2.3/jquery.min.js")
        script(src="/static/external/lodash-4.3.1/lodash.min.js")
        script(src="/static/external/angular-1.5.5/angular.min.js")
        script(src="/static/app/app.js")
