md-toolbar(layout="row")
    .md-toolbar-tools
        md-icon(md-svg-icon="/static/images/tshirt-crew.svg")
        h2(flex=true, layout-padding=true) Uniform Store / {{ deptVm.deptName }}

div(flex, layout="row")
    md-sidenav.md-sidenav-left(md-component-id='left', md-is-locked-open="$mdMedia('gt-md')", md-disable-backdrop='', md-whiteframe='4')
        md-content
            md-subheader Departments
            department-button(flex, ng-repeat="dept in deptVm.departments", dept="dept", layout="row", is-active="dept.id == deptVm.currentDept")

    md-content(flex, layout-padding)
        div(layout='column', layout-fill='', layout-align='top center')
            p The left sidenav will 'lock open' on a medium (>=960px wide) device.
            p The right sidenav will focus on a specific child element.
            div: md-button.md-primary(ng-click='toggleLeft()', hide-gt-md='') Toggle left
            div: md-button.md-primary(ng-click='toggleRight()', ng-hide='isOpenRight()') Toggle right
        div(flex)
