main-header(show-icon=true, text="'Uniform Store' + (deptVm.deptName ? ' / ' + deptVm.deptName : '')")

div(flex, layout="row")
    md-sidenav.md-sidenav-left(md-component-id='left', md-is-locked-open="$mdMedia('gt-md')", md-disable-backdrop='', md-whiteframe='4')
        md-content
            md-subheader Departments
            department-button(flex, ng-repeat="dept in deptVm.departments", dept="dept", layout="row", is-active="dept.id == deptVm.currentDept")

    md-content(flex, layout-padding)
        md-grid-list(md-cols="6", md-row-height="1:1", md-gutter-gt-sm="4px")
            md-grid-tile(ng-repeat="product in deptVm.products track by product.id")
                mini-product(product="product")
