main-header(show-icon="true", text="'Uniform Store' + (deptVm.deptName ? ' / ' + deptVm.deptName : '')")
div(flex, layout="row")
    main-sidebar(current-dept="deptVm.currentDept", layout="column")
    md-content.products-gallery(flex, layout-padding)
        .md-padding(layout="row", layout-wrap)
            mini-product(ng-repeat="product in deptVm.products track by product.id", product="product", layout="column")
