h1.product-header
  margin-top 50px

h2.similar-products-header
  margin-top 50px
  text-align center

.product-details
  text-align center

img.product-image
  max-height 300px
  max-width 300px
  margin-left 50px
