main-header(show-icon=true, text="'Uniform Store' + ' / ' + prodVm.department.name + ' / ' + prodVm.product.name")
div(flex, layout="row")
    main-sidebar(current-dept="prodVm.department.id", layout="column")
    md-content(flex)
        h1.product-header {{ prodVm.product.name }}
        div.product-details(layout="row", layout-align="center start")
            div(flex="25", layout="column", layout-align="center center")
                h3.product-description {{ prodVm.product.description }}
                h3.product-price Price: {{ prodVm.product.price | number | currency:'₪' }}
                h3.product-amount Amount: {{ prodVm.product.amount | productAmount }}
                md-button.md-raised.md-primary(ng-click="prodVm.buyProduct()", ng-disabled="prodVm.product.amount <= 0") Buy
            img.product-image(ng-src="{{ prodVm.product | productImage }}" alt="Product Logo")
        div(ng-if="prodVm.similarProducts.length > 0")
            md-divider
            h2.product-header Similar Products
            div.products-gallery(layout-padding)
                .md-padding(layout="row", layout-wrap)
                    mini-product(ng-repeat="similarProduct in prodVm.similarProducts track by similarProduct.id", product="similarProduct")
